
.t_description {
    background-color: lightblue;
    width: 500px;
}

.container-fluid {
    margin-top: 70px;
    margin-right: 50px;
}

.t_bold {
    font-weight: bold;
    font-family: "Courier New";
}

.t_number {
    background-color: #b4ffc9;
}

.t_name {
    background-color: #ffe4d8;
}

.t_order {
    background-color: #ff6a26;
    color: white;
}

.t_note, .t_includes {
    background-color: #e2e2e2;
}

caption {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #4ba4e6;
}

footer {
    margin: 80px;
}

.rounded_button {
    background: -moz-linear-gradient(#a8e2f4, #41a6d0, #D0ECF4);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#a8e2f4), to(#D0ECF4), color-stop(0.5, #41a6d0));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');

    color: #fdfdfd;
    font-weight: bold;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #bfbfbf;
    padding: 3px 7px;
}
